# --- Application ---
APP_PORT=4000
API_URL=https://api.mabell.dev
CORS_ORIGIN=https://mabell.dev
NODE_ENV=development  # development | production | test

# --- MongoDB ---
DB_HOST=localhost
DB_PORT=27017
DB_USER=devuser
DB_PASS=devpass
DB_NAME=mabell

# --- JWT ---
JWT_ACCESS_SECRET=dev
JWT_ACCESS_EXPIRES_IN=3600 # 1h
JWT_REFRESH_SECRET=dev
JWT_REFRESH_EXPIRES_IN=2678400 # 1m

# --- Redis ---
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=  # optional
REDIS_DEFAULT_TTL_SECONDS=300

# --- Mail (SMTP) ---
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_smtp_username
MAIL_PASS=your_smtp_password
MAIL_FROM=no-reply@example.com  # Default "from" email

# --- Third-party API keys ---